<div style="padding:15px;">
	<h1 class="title">Log In</h1>
  <div class="box" style="width:50%; padding: 15px;">
    <%= form_with url: "/user_sessions", method: :post do |f| %>
      <div class="field">
      <%= f.label :email, class: "label important" %>
      <%= f.text_field :email, class: "input" %>
      </div>
      <div class="field">
      <%= f.label :password, class: "label important" %>
      <%= f.password_field :password, class: "input" %><br>
      </div>
      <% if flash[:notice] %>
        <%= content_tag :h1, flash[:notice], class: "has-text-danger" %>
      <% end %>
    <div class="field" style="margin-top:10px;">
      <%= f.submit "Sign In!", class: "button is-small is-dark" %>
      <%= link_to "Sign Up", new_user_path, class: "button is-small" %>
    </div>
    <% end %>
  </div>
</div>